body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Permet au padding de ne pas augmenter la largeur totale */
}

#infoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

#infoTable th, #infoTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#infoTable th {
    background-color: #4CAF50;
    color: white;
}

#infoTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#infoTable tr:hover {
    background-color: #ddd;
}